<p><%= form_for([@meal, @comment]) do |f| %>
</p><%= f.label :content %>
<p><%= f.text_area :content %></p>
<%= f.submit %>
<% end %>
 <%= button_to "Delete", comments_path(@comment.id), method: "delete" %>