<h1>My Comments</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From Meal#:</th>
      <th scope="col">Content:</th>
      <th scope="col">Posted:</th>
      <th scope="col">Edit:</th>

      
    </tr>
  </thead>
  <tbody>
    <tr>
    <th scope="row"></th>
    <% @comments.each do |comment| %>
    <tr>
      <th scope="row"><%= comment.id%></th>
      <td><%= link_to "#{comment.meal_id}", meal_path(comment.meal_id) %></td>
      <td><%= comment.content %></td>
      <td><%= comment.created_at.strftime("%m/%d/%y At: %H:%M ") %></td>
      <td><%= button_to "Edit", edit_meal_comment_path(comment.meal_id, comment.id), method: 'get' %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<h1>Meal's Comments</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From Meal#:</th>
      <th scope="col">Content:</th>
      <th scope="col">Posted:</th>
      <th scope="col">Posted By:</th>

      
    </tr>
  </thead>
  <tbody>
    <tr>
    <th scope="row"></th>
   <% current_user.meal_comments.each do |comment| %>
    <tr>
      <th scope="row"><%= comment.id%></th>
      <td><%= link_to "#{comment.meal_id}", meal_path(comment.meal_id) %></td>
      <td><%= comment.content %></td>
      <td><%= comment.created_at.strftime("%m/%d/%y At: %H:%M ") %></td>
      <td>User ID: <%= comment.user_id %></td>
      <% end %>
    </tr>
  </tbody>
</table>
