
 
  <%= form_for @meal do |f| %>
  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control" %>
  <%= hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Make Public?
      <br>
    </label>
    <div class="actions">
    <%= f.submit class:"btn btn-default" %> 
    <% end %>
  </div>
