<div class="d-flex flex-column">
<h1 class='text-center'>Meal Name: <%= @meal.name %></h1></div>
<h3 class= 'text-center'>User ID: <%= @meal.user_id %></h3>
<div class="card">
  <div class="card-body">
<h3>Foods: <%= @meal.meal_foods.length %></h3>
<h3>Total Calories: <%= @calculations %></h3>
<% @included.each do |food| %>
<p><%= link_to food.name, food_path(food) %></p>
<p>Calories: <%= food.calories %></p>
<% end %>
</p>
  </div>
</div>
<p>Created At: <%= @meal.created_at.strftime("%m/%d/%y At: %H:%M ") %></p>
<p>Public Meal: <%= @meal.published %>
<p>Last Updated: <%= @meal.updated_at.strftime("%m/%d/%y At: %H:%M ") %></p>
<div class="card">
  <div class="card-body">
<p>Comments: <% @meal.comments.each do |comment| %>
<p>Posted: <%= comment.created_at.strftime("%m/%d/%y At: %H:%M ") %></p>
<p>Posted By User ID: <%= comment.user_id %> </p>
<p>Content: <%= comment.content %></p>
<% end %>
<%= button_to "New Comment", new_meal_comment_path(@meal.id), method: "get" %>
  </div>
</div>


<%= link_to "Back to Published Meals", public_path %>
<% if current_user %>
<%= link_to "Edit Meal", edit_meal_path %>
<%= link_to "All Meals", meals_path %>

<% end %>
