<div class="d-flex flex-column">
<h1> Show Page </h1></div>
<div class="card">
  <div class="card-body">
<p>Meal Name: <%= @meal.name %></p>
<p>Foods: <%= @meal.meal_foods.length %></p>
<p>Total Calories: <%= @calculated %>
<p>Included Foods:
<% @included.each do |food| %>
<p>Calories: <%= food.calories %></p>
<p><%= link_to food.name, food_path(food) %></p>
<% end %>
</p>
  </div>
</div>
<p>Created At: <%= @meal.created_at %></p>
<p>Public Meal: <%= @meal.published %>
<p>Last Updated: <%= @meal.updated_at %></p>
<div class="card">
  <div class="card-body">
<p>Comments: <% @meal.comments.each do |comment| %>
<p>Posted By User#: <%= comment.user_id %> </p>
<p>Content: <%= comment.content %></p>
<% end %>
  </div>
</div>
<div class="card">
  <div class="card-body">
<%= form_for([@meal, @comment]) do |f| %>
<%= f.label :content %>
<p><%= f.text_area :content %></p>
<p><%= f.submit %></p>
<% end %>
  </div>
</div>

<%= link_to "Back to Published Meals", public_path %>
<% if current_user %>
<%= link_to "Edit Meal", edit_meal_path %>
<%= link_to "All Meals", meals_path %>
<% end %>
