<p>Name: <%= @food.name %></p>
<p>Food_ID: <%= @food.id %></p>
<p>Nutrient_Hash: <%= @food.food_nutrient_hash(@food) %></p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nutrient Name:</th>
      <th scope="col">Nutrient Number:</th>
      <th scope="col">Nutrient Value:</th>
    </tr>
  </thead>
  <tbody>

  <% @food.nutrient_hash.sort_by{ |h| h["nutrientName"] }.each_with_index do |nutrient, i| %>
    <tr>
  <th scope ="row"><%= i + 1 %></th>
<td><%= nutrient["nutrientName"] %>:</td>
<td><%= nutrient["nutrientNumber"] %></td>
<td><%= nutrient["value"] %>
<%= nutrient["unitName"] %></td>
</tr>
<% end %>
</tbody>
  </table>





<p>Associated in <%= @food.meal_foods.count %> Meals</p>

<%= button_to "All Foods", foods_path, method: "get" %>
